body {
  // Global rules
  .left { float: left; }
  .right { float: right; }
  .bold { font-weight: bold; }
  .hidden { display: none; }

  // non js browser compatibility
  &.jsInitial {
    .jsHidden {
      display: none;
    }
  }
}

.container {
  // Main title
  .mainTitle {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
  }

  hr {
    border-top: 1px solid #bbb;
    border-bottom: 2px solid #ddd;
  }

  // Header, Navi, Logo
  nav.navbar.navbar-inverse {
    background-color: #fff;

    .navbar-header {
      // Main logo
      .navbar-brand {
        padding: 0;
        height: 100%;
        margin-top: 5px;

        .navbarLogo {
          background: 0 0 image-url('sprite-s936cb39d45.png') no-repeat;
          display: block;
          overflow: hidden;
          height: 44px;
          width: 82px;
        }
      }
    }

    // Top main navigation
    ul.nav.navbar-nav {
      li {
        a {
          background-color: #fff;
          color: #333;
          padding: 20px;
          font-size: 20px;

          &:hover { text-decoration: underline; }
        }

        &.active {
          a {
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }

  // invoice list items
  .detailBox {
    .detailBoxContent {
      padding: 5px 15px;
      border-radius: 3px;
      box-shadow: 0px 0px 2px #333, inset 0px 0px 6px #666;
      margin-bottom: 20px;
      max-height: 340px;
      overflow: hidden;
    }

    // UL list of items
    .productItemsBox {
      max-height: 310px;
      overflow: scroll;
      padding-bottom: 20px;

      ul {
        margin: 0;
      }

      li {
        overflow: hidden;

        &:hover { background-color: mistyrose; }

        p { margin: 0; }

        .subTitle {
          display: block;
          float: left;
          margin-right: 10px;
          background-color: plum;
          width: 100px;
          text-align: center;
          border-radius: 3px;
          height: 20px;
          font-size: 12px;
          line-height: 20px;
          font-weight: 700;
          box-shadow: 0px 1px 5px 0px #333;

          &.colorCode-tv { background-color: yellow }
          &.colorCode-talk { background-color: tan }
          &.colorCode-broadband { background-color: sandybrown }
          &.colorCode-rentals { background-color: skyblue }
          &.colorCode-buy-and-keep { background-color: bisque }

        }
      }
    }

    .productTitle {
      font-size: 22px;
      display: block;
      text-shadow: 0px 1px 2px #888;
      font-weight: bold;
      cursor: pointer;
      color: indigo;

      &:hover {
        color: blueviolet;
        text-decoration: none;
      }
    }

    .amount {
      font-family: monospace;
    }
  }
}
